
* { 
    font-family: 'Roboto Mono', monospace; }

body {
    margin: 0px;
}

/*---TOP---*/
/*header*/
.header {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: space-between;
    background: #1F2937;
    color: white;
}
.links {
    display: flex;
    width: 250px;  
    text-align: center;
}

.links div {
    flex: 1;
}


/*main*/
.main {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    align-items: center;
    justify-content: center;
    background: #1F2937;

}

.main div{
    flex: 1;
}

.left {
    padding-right: 100px;
    font-size: 28px;
    color: #f9faf8;
}

.right {
    background: grey;
    justify-content: center;
}

.right img {
    width: 100%;
    max-height: auto;
}

/*---GALLERY---*/

.gallery {
    padding: 50px 150px;
    text-align: center;
}

.images {
    display: flex;
}

.images div {
    flex: 1;
}

.images img {
    border: 3px solid #3882F6;
    border-radius: 15%;
    width: 100px;
  }

  /*---QUOTE---*/
.quote {
    display: flex, column;
    padding: 75px 150px;
    background: #E5E7EB;
    font-size: 28px;
}


.author {
    text-align: right;
}

/*---ACTION---*/

.action {
    display: flex;
    background: lightblue;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
    padding: 20px 50px;
    border-radius: 10px; 
  }

.context {
    padding-right:50px;
}
  .button {
      padding: 10px;
  }



/*---FOOTER---*/
.footer {
    display: flex;
    text-align: center;
}

  .footer div{
    flex: 1;
    background: #1F2937;
    color: white;
  }