body {
    margin: 0px;
}

/*---TOP---*/
/*header*/
.header {
    display: flex;
    padding-left: 75px;
    padding-right: 75px;
    justify-content: space-between;
    background: #1F2937;
    color: white;
}
.links {
    display: flex;
    width: 250px;  
    text-align: center;
}

.links div {
    flex: 1;
}


/*main*/
.main {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    justify-content: center;
    background: #1F2937;

}

.main {
    flex: 1;
    height: 300px;
}

.left {
    background: pink;
    padding-right: 100px;
}

.right {
    background: grey;
    justify-content: center;
}


/*---GALLERY---*/

.gallery {
    text-align: center;
}

.images {
    display: flex;
}

.images div {
    flex: 1;
}

img {
    border: 3px solid #3882F6;
    border-radius: 15%;
    width: 100px;
  }

  /*---QUOTE---*/
  .quote {
      height: 300px;
      padding: 50px;
      background: grey;
  }

  .author {
      text-align: right;
  }
/*---FOOTER---*/
.footer {
    display: flex;
}

  .footer div{
    flex: 1;
    background: #1F2937; 
    color: white;
  }